/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
    --main-font: 'Inter';
    --accent-font: 'PressStart2P';
    --main-text-weight: 400;
    --title-bold-weight: 700;
    --main-text-color: #000;
    --main-bg-color: #FFF;
    --contour-color: black;
    --animation-fill-color: #FF0000;
}